/* typewriter */
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
/* font-family: 'Special Elite', cursive; */

/* 8-bit */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/* font-family: 'Press Start 2P', cursive; */

/* hand-written */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Press+Start+2P&display=swap");
/* font-family: 'Amatic SC', cursive;
font-family: 'Press Start 2P', cursive; */

/* Primary */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,900;1,300&display=swap"); /* font-family: 'Source Sans Pro', sans-serif; */

/* secondary */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,700&display=swap");
/* font-family: 'Source Code Pro', monospace; */

/* barcode */
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap");
/* font-family: 'Libre Barcode 128 Text', cursive; */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --ff-typewriter: "Special Elite", cursive;
  --ff-8bit: "Press Start 2P", cursive;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  --clr-accent-opac: #16e0bd99;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-h4: 1.1rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-medTitle: 2.5rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}
/* General styles */

html {
  scroll-behavior: smooth;
}
body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}
section {
  padding: 5em 2em;
}
img {
  display: block;
  max-width: 100%;
}
video {
  display: block;
  max-width: 100%;
}
strong {
  font-family: "Special Elite", cursive;
  font-weight: var(--fw-bold);
}
:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 250ms ease-in-out;
}
.btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px #fff;
}
/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
.section__title {
  margin-bottom: 0.25em;
}
.section__title--intro strong {
  display: block;
}
.section__title--intro {
  font-weight: var(--fw-reg);
}
.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  padding: 0.25em 1em;
  margin-bottom: 1em;
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.logo {
  /* max-width: 300px; */
}
.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: 250ms cubic-bezier(0.47, 0, 0.5, 1);
}
.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}
.nav__link:hover {
  color: var(--clr-accent);
}
.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}
.nav-open .nav {
  transform: translateX(0);
}
.nav-open .nav-toggle {
  position: fixed;
}
.nav-open .hamburger {
  transform: rotate(0.625turn);
}
.nav-open .hamburger::after {
  opacity: 0;
}
.nav-open .hamburger::before {
  transform: rotate(0.25turn) translateX(-6px);
}
/* hamburger */
.hamburger {
  display: block;
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/* intro section */
.intro {
  position: relative;
}
.intro__img {
  box-shadow: var(--bs);
}
@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 /1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -2em;
    width: calc(100% + 2em);
  }
}
/* my services section */

.my-services {
  background-color: var(--clr-dark);
  background-image: url(../img/codeBackground.jpg);
  color: var(--clr-light);
  background-size: cover;
  background-blend-mode: soft-light;
  text-align: center;
}
.section__title--services {
  color: var(--clr-accent);
  position: relative;
}
.section__title--services::after {
  content: "";
  display: block;
  width: 2.5em;
  height: 1px;
  margin: 0.5em auto 1em;
  /* background: currentColor; */
  background: var(--clr-light);
  opacity: 0.25;
}
.services {
  margin-bottom: 4em;
}
.service {
  max-width: 500px;
  margin: 0 auto;
}
@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .service + .service {
    margin-left: 2em;
  }
}

/* About Me */

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}
.about-me__img {
  box-shadow: var(--bs);
}
@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* my work */
.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}
.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-top: 2em;
}
.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  max-width: 1050px;
  margin: 0 auto;
}
.portfolio__item {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.15);
}
.portfolio__img {
  transition: transform 750ms cubic-bezier(0.47, 0, 0.5, 1),
    opacity 250ms linear;
}
.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: 0.75;
}
/* footer */
.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}
.footer a {
  color: inherit;
  text-decoration: none;
}
.footer__link {
  font-weight: var(--fw-bold);
}
.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}
.footer__link:hover {
  text-decoration: underline;
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}
.social-list__item {
  margin: 0 0.5em;
}
.social-list__link {
  padding: 0.5em;
}
/* Individual portfolio item styles */

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}
.portfolio-item-individual p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
/* RESUME PAGE********************* */
.resume-heading {
  background-color: rgba(255, 255, 255, 0);
  margin: 15px 0 0 0;
  background-color: var(--clr-accent);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  /* transition: 0.5s cubic-bezier(0.58, -0.19, 1, 0.46); */
  animation: slideinRight 0.5s ease-in;
}
.long-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
@keyframes slideinRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.resume-contact {
  padding: 20px 10px;
  min-width: 200px;
  max-width: 400px;
  margin: 0;
  position: relative;
}
.resuem-summery {
  text-align: center;
  margin: 0;
}
.resuem-summery p {
  /* font-family: var(--ff-typewriter);  */
  /* animation: fontChange 6s; */
  /* transition: 5s ease font-family; */
}

@keyframes fontChange {
  from {
    font-family: var(--ff-primary);
    /* font-weight: 40px; */
  }
  1% {
    font-family: var(--ff-8bit);
    font-size: 0.8rem;
  }

  75% {
    font-family: var(--ff-8bit);
    font-size: 0.8rem;
  }
  /* 76% {
    font-family: var(--ff-8bit);
    font-size: 0.5rem;
    color: white;
  } */
  to {
    font-family: var(--ff-primary);
  }
}

@media (max-width: 1080px) {
  .resuem-summery h2 {
    font-size: var(--fs-medTitle);
  }
}
.resume-contact-items {
  list-style-type: none;
}
.resume-contact-items > li > i {
  padding-right: 15px;
  color: black;
}

@media (min-width: 850px) {
  .resuem-summery {
    flex-grow: 1;
    margin: 0;
    flex-basis: 200px;
  }
}

.resume-sider {
  position: absolute;
  float: left;
  margin: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .resume-sider {
    width: 250px;
  }
  .work-history {
    position: absolute;
    right: 150px;
    /* width: 100%; */
    width: calc(100% - 250px);

    border: 0;
    border-left: var(--clr-accent-opac) 0px solid;
  }
  .work-history-title {
    padding: 0;
    margin: 0px;
  }
  .work-history-title h4 {
    /* padding: ; */
    margin: 5px;
  }

  .work-history-title p {
    padding: 0;
    margin: 0px;
  }
  .resume-education h2 {
    font-size: var(--fs-h3);
  }
  .resume-education h3 {
    font-size: var(--fs-h4);
  }
  .resume-courses h2 {
    font-size: var(--fs-h3);
  }
}
@media (max-width: 850px) {
  .resume-contact {
    max-width: 500px;
  }

  .resume-contact-items li {
    text-align: center;
  }
  .resume-sider {
    background-color: var(--clr-accent-opac);
  }
  .resuem-summery {
    padding: 10px;
  }
  .resuem-summery h1 {
    font-size: var(--fs-h2);
  }
  .resume-skills {
    display: flex;

    justify-content: center;
    align-items: center;
  }
  .resume-skills h3::after {
    content: ":";
  }
  .skills-items {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    align-items: center;
    justify-content: center;
  }
  .skills-items li::before {
    content: "• ";
  }
  .skills-items li {
    padding: 10px;
    list-style: none;
  }
  .resume-sider {
    display: inline-flex;
    width: 100vw;
    padding-bottom: 0;
    position: relative;
    flex-direction: row;
  }
  .resume-education h2 {
    margin-right: 10px;
  }
  .resume-education h2::after {
    content: ":";
  }
  .resume-education {
    background-color: #66339934;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
  }
  .resume-courses {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .resume-courses h3 {
    font-size: 1.5rem;
  }
  .resume-courses h3::after {
    content: ":";
  }
  .work-history {
    position: absolute;
    right: 400px;
    width: 100%;

    border: 0;
    border-left: var(--clr-accent-opac) 0px solid;
  }
  .work-history-title h4 {
    margin: 0;
    padding: 0;
  }
  .work-history-title p {
    margin: 0;
    padding: 0;
  }
}
.resume-skills {
  margin: 10px 0 0 15px;
  padding: 5px;
  align-self: flex-start;
}
.resume-education {
  margin: 10px 0 0 0;
  padding: 10px 10px;
}
.resume-education h2 {
  font-size: 1.9rem;
}

.resume-education p {
  margin: 0;
}
.resume-education h4 {
  margin: 0;
}
.resume-courses {
  margin: 10px 0 0 0;
  padding: 20px;
  max-width: 400px;
}

.work-history {
  padding: 0 0 40px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-left: var(--clr-accent-opac) 400px solid;
  /* padding-left: 10px; */
  box-sizing: content-box;
  /* max-width: 900px; */
  /* width: 70%; */
}
.work-history h2 {
  margin: 20px 10px;
  font-size: var(--fs-h2);
  font-family: var(--ff-typewriter);
}
.work-history-title {
  background-color: #f1f1f17e;
  padding: 5px;
  margin: 15px 0;
  box-shadow: var(--bs);
  animation: slidein 2s linear 0ms 1;
}
@keyframes slidein {
  from {
    transform: translateX(100%);
  }
  12.5% {
    transform: translateX(0%) scale(1, 2);
    /* transform: ; */
    /* height: 150px; */
  }
  25% {
    transform: translateX(25%);
    /* height: 100px; */
  }
  37.5% {
    transform: translateX(0%) scale(1, 1.5);
  }
  50% {
    transform: translateX(12%);
  }
  62.5% {
    transform: translateX(0%) scale(1, 1.2);
  }
  75% {
    transform: translateX(6%);
  }
  87.5% {
    transform: translateX(0%) scale(1, 1.1);
  }
  to {
    transform: translateX(0%);
  }
}

/* cubic-bezier(0.58, -0.19, 1, 0.46) */
.slideIn {
  transform: translateX(100px);
}
/* .work-history-title h4:first-of-type {
} */
.work-history-title h4 {
  margin: 5px;
}

.work-history-title p {
  margin: 0;
}
.work-history-items {
  margin-right: 40px;
}
/* @media (max-width: ) */
/* MJ PUPPET  */
.mjpuppet-features {
  width: 75%;
  padding-left: 25%;
}
